# Python 虚拟环境
.venv/
.vscode/
uv.lock

# Python 缓存
__pycache__/
**/__pycache__/
*.pyc

# Git 相关
.git/
.gitignore

# 编辑器/IDE
.vscode/

# 日志文件
logs/
*.log

# 模型、数据、输出目录（如果不需要打包到镜像）
models/
datasets/
data/
data-en/
data-zh/
outputs/

# 压缩包或临时文件
*.tar
*.zip
*.gz
*.ckpt
*.h5
*.pt
*.pkl